<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mywidgettest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mywidgettest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FlowLayActivity"></activity>
        <activity android:name=".FirstLay"></activity>
        <activity android:name=".CustomTextViewActivity"></activity>
        <activity android:name=".CustomImageViewActivity"></activity>
        <activity android:name=".CustomProgressBarActivity"></activity>
        <activity android:name=".SpecialProgressBarActivity"></activity> 
        <activity android:name="com.slidingmenu.qq.demo.QQmianActivity"></activity> 
    </application>

</manifest>
